<!DOCTYPE html>
<html lang="en" ng-app='try'>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Try Angular</title>
  <!-- <script src= "src/js/angular.min.js"></script> -->
  <script src= "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>

  <script src= "src/js/app/app.module.js"></script>
  <script src= "src/js/app/app.config.js"></script>
  <style>
  	.new-class{
  		font-size: 72px;
  	}
  	.other-class
  	{
  		font-size: 20px;
  	}
  	.new-class2
  	{
  		font-size: 120px;
  	}
  </style>
  	
  </style>
</head>

<body>
	<h1 class = 'new-class' ng-class="{'other-class' : name=='Justin', 'new-class2' : font==120}">Hello, 
				<span ng-if='name'>{{name}}</span>
				<span ng-if ='!name'> World!</span>
			</h1>
	<input type = 'text' ng-model='name'/>
	<input type = 'text' ng-model='font' placeholder='font'/>
</body>
</html>